@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
}
.tree_container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.tree_container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.tree_container::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.tree_container::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}
.tree-body {
    white-space: nowrap;
    overflow-y: hidden;
    /* padding: 50px; */
    padding-left: 0px;
    min-height: 500px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
}
.tree {
    /* width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
    min-height: 500px;
    padding-top: 10px; */
    transform: scale(0.85);
    /* transform-origin: 40% 60% 600px; */
}
.tree ul {
    padding-top: 20px;
    padding-left: 0px;
    position: relative;
    transition: 0.5s;
    display: flex;
}
.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: 0.5s;
}
.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #000;
    width: 50%;
    height: 18px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid #000;
}
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 2px solid #000;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #000;
    width: 0;
    height: 20px;
}
.tree li a {
    border: 2px dashed #666;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    text-decoration-line: none;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 11px;
    font-family: arial, verdana, tahoma;
}
.tree li a img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}
.tree li a span {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3e86ca;
    color: #000000;
    padding: 5px;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}
.tree li a p {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}
/*Hover-Section*/
.tree li a:hover,
.tree li a:hover i,
.tree li a:hover span,
.tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #fb0000;
}
